.b_left{border-left:1px dotted #aaa;}
.b_right{border-right:1px dotted #aaa;}
.b_bottom{border-bottom:1px dotted #aaa;}
.b_top{border-top:1px dotted #aaa;}
body{
  padding: 20px 0 40px 0;
}
.resume{
  background-color:transparent;
  color:#000;
  overflow-x:auto;
}

.resume .title{
  display: inline-block;
  color:#800000;
  font-weight:bold;
  font-size:18px;
  line-height: 25px;
}
.resume .headline{
  margin: 0;
  line-height: 30px;
  color:#800000;
  padding-bottom: 5px;
}
.resume .value{
  display:inline-block;
  vertical-align: top;
  padding-left:10px;
  font-size:16px;
  line-height:28px;
}

.p_wrap{
  width:1000px;
  margin:20px auto;
  border:1px dotted #aaa;
  border-radius:2px;
  background-color:rgba(250,250,250,0.7);
}
/* personal info*/
.resume .personal_info .main{
  background:url("../images/resume/photograph.png") no-repeat 6px center;
  padding-left:140px;
  width:100%;
}
.resume .personal_info .main h1{
  height: 100px;
  margin: 0 auto;
  line-height: 90px;
  font-size: 3em;
  color:#800000;
  text-align: center;
}
.resume .personal_info .main .title{
  text-align: center;
  width:100px;
}
.resume .personal_info .main .title.marry{
  height: 30px;
  line-height: 30px;
}
.resume .personal_info .main .value{
  width:80px;
}
.resume .personal_info .main .value.marry{width:756px;height: 30px;line-height: 30px;}

.resume .personal_info .sub{
  line-height: 30px;
}
.info_common{
  display:inline-block;
  padding-left:25px;
  background-repeat:no-repeat;
  background-position:6px center;
}
.resume .personal_info .born{
  width:120px;
  background-image:url("../images/resume/born.png") ;
}
.resume .personal_info .address{
  width:145px;
  background-image:url("../images/resume/address.png") ;
}
.resume .personal_info .dy{
  width:100px;
  background-image:url("../images/resume/dy.png") ;
}
.resume .personal_info .phone{
  width:185px;
  background-image:url("../images/resume/phone.png") ;
}
.resume .personal_info .mail{
  width:240px;
  background-image:url("../images/resume/mail.png") ;
}

.section_com{
  padding-left:35px;
  background-repeat:no-repeat;
  background-position: 6px 6px;
}
/* mine */
.mine .item{
  float:left;
  padding-left:35px;
  background-repeat:no-repeat;
  background-position:6px 6px;
  width:50%;
}
.mine .intension{ background-image:url("../images/resume/intension.png"); }
.mine .education{ background-image:url("../images/resume/education.png"); }

/* experience */
.experience{
  padding-left:35px;
  margin-top:15px;
  background-repeat:no-repeat;
  background-position: 6px 6px;
}
.experience .item{margin-top:25px;}
.experience .value_w{width:160px;}
.experience .value_w_max{width:870px;}
.work{background-image: url("../images/resume/work.png")}
.project{background-image: url("../images/resume/project.png")}

.p_right{
  padding-right: 8px;
}
.skill_bg{
  background-image:url("../images/resume/skill.png");
}
.skills .item{
  margin-top:20px;
}
.school_bg{
  background-image:url("../images/resume/school.png");
}
.selfcom_bg{
  background-image:url("../images/resume/self_com.png");
}
.table{
  
}
.table_item{
  padding-left: 36px;
  border-bottom: 1px dotted #aaa;
}
.indent{
  text-indent:2em; 
  padding: 0 30px;
  margin: 10px 0;
}
